/*
Color palette:
#F9F7F7 - background (white)
#DBE2EF - light blue
#3F72AF - dark blue
#112D4E - very dark blue
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

@font-face {
    font-family: 'Futura';
    src: url(./assets/fonts/unicode.futurab.ttf) format('truetype');
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48,
}

.navbarTypography span {
    color: #4983ca;
}

.show {
    animation: show 2s;
}

.show1 {
    animation: show1 2s;
}

.hide {
    opacity: 0;
}

.nonDraggableImg {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.mainPageTitle {
    background: linear-gradient(75deg, #3F72AF 0%, #112D4E 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    position: absolute;
    top: 45%;
    left: 5vw;
    transform: translate(0, -50%);
}

.mainPageTitle2 {
    background: linear-gradient(75deg, #3F72AF 0%, #112D4E 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    position: absolute;
    top: 900px;
    right: 2vw;
}

.mainPageTitle3 {
    background: linear-gradient(75deg, #3F72AF 0%, #112D4E 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    position: absolute;
    top: 1700px;
    left: 2vw;
}

@media only screen and (max-width: 1100px) {
    .mainPageImage1 {
        width: 30%;
        height: auto;
        border-radius: 10px;
        position: absolute;
        top: 780px;
        right: 65vw;
    }

    .mainPageImage2 {
        width: 30%;
        height: auto;
        border-radius: 10px;
        position: absolute;
        top: 1700px;
        right: 5vw;
    }

    .accessForms {
        width: 90vw;
        height: 70vh;
        font-size: 30rem;
        animation: fadeIn1 0.5s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(75deg, #3F72AF 0%, #112D4E 100%);
    }
}

@media only screen and (min-width: 1100px) {
    .mainPageImage1 {
        width: 400px;
        height: auto;
        border-radius: 10px;
        position: absolute;
        top: 800px;
        right: 65vw;
    }

    .mainPageImage2 {
        width: 400px;
        height: auto;
        border-radius: 10px;
        position: absolute;
        top: 1650px;
        right: 15vw;
    }

    .accessForms {
        animation: fadeIn1 0.5s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35svw;
        width: 35vw;
        min-width: 300px;
        height: 70svh;
        height: 70vh;
        min-height: 640px;
        background: linear-gradient(75deg, #3F72AF 0%, #112D4E 100%);
    }
}

@media only screen and (max-width: 600px) {
    .mainPageImage1 {
        top: 1100px;
        left: 25vw;
        width: 50%;
    }

    .mainPageImage2 {
        top: 1950px;
        left: 25vw;
        width: 50%;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (min-height: 300px) {
    .custom-shape-divider-bottom-1679680709 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1679680709 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 15vh;
    }

    .custom-shape-divider-bottom-1679680709 .shape-fill {
        fill: #3F72AF;
    }
}

@media only screen and (max-height: 700px) {
    .custom-shape-divider-bottom-1679680709 {
        content-visibility: hidden;
    }

    .custom-shape-divider-bottom-1679680709 svg {
        content-visibility: hidden;
    }

    .custom-shape-divider-bottom-1679680709 .shape-fill {
        content-visibility: hidden;
    }
}

@media only screen and (max-width: 800px) {
    .custom-shape-divider-bottom-1679680709 {
        content-visibility: hidden;
    }

    .custom-shape-divider-bottom-1679680709 svg {
        content-visibility: hidden;
    }

    .custom-shape-divider-bottom-1679680709 .shape-fill {
        content-visibility: hidden;
    }
}