@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/*
Color palette:
#F9F7F7 - background (white)
#DBE2EF - light blue
#3F72AF - dark blue
#112D4E - very dark blue
*/

@font-face {
    font-family: 'Futura';
    src: url(./assets/fonts/unicode.futurab.ttf) format('truetype');
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48,
}

.navbarTypography span {
    color: #4983ca;
}